.button-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: right;
  padding: 0 1rem;
}
.add-todos {
  background-color: var(--blue);
  border: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 4.5rem;
  color: var(--white);
  font-weight: var(--bold);
  margin-bottom: 1rem;
  transition: .3s;
  box-shadow: 0 0 5px rgb(104, 163, 250);
}
.add-todos:hover {
  transform: scale(1.05);
}