.todo-counter {
  background-color: var(--blue);
  box-shadow: 0 0 6px rgb(104, 163, 250);
  width: 100%;
  min-height: 10rem;
  height: auto;
  text-align: center;
  padding: 3rem 1rem;
  border-radius: 0 0 1rem 1rem;
  font-size: 3.4rem;
  font-family: var(--secondaryFont);
  color: var(--white);
}